// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Listings page 
.img{
    width: 30%;
    height: 500px;
}
#listings-forms{
    // padding-top: 50px;
    margin-top: 34px;
    min-height: 140vh;
    width: 100vw;
    background-color: #191919;
    color: #fff;
}
.showcase{
    height: 220px;
    width: 100vw;
    background: url('showcase-3.png');
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.5);
}
hr{
    margin-top: 30px;
}
#listings-forms .container{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    // flex-direction: column;
    // border: 1px solid red;
}
#listings-forms .left{
    // border: 1px solid red;
    // border-top: 1px solid lightgray;
    // border-right: 1px solid lightgray;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
    width: 350px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#listings-forms .right{
    // border: 1px solid red;
    // border-top: 1px solid lightgray;
    // border-left: 1px solid lightgray;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
    // width: 60%;
    // display:flex;
    // flex-direction: row;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 30px;
    // margin: auto;
    flex: 1;
}
#listings-forms .left #target{
    background-color: rgba(211, 211, 211,0.1);
    // opacity: 1;
    // border: 1px solid red;
    height: 400px;
    width: 350px;

}
input{
    width: 100%;
}
textarea{
    width: 96.5%;
    height: 90px;
    padding: 10px;
    // box-sizing: border-box;
}
#listings-forms .right .group{
    display: flex;
    justify-content: space-between;
}
#listings-forms .right .group .title{
    flex:0.8;
    // display:none;
}
#listings-forms .right .group .price .number_field{
    flex: 0.2;
    // border: 1px solid red;
    display: none;
}
.description-color-brand{
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
}
// .color-brand{
//     flex: 0.2;
//     border: 1px solid red;

// }
// .color-brand .text_field{
//     width: 100%;
//     border: 1px solid red;
// }
.text-area-field{
    flex: 0.8;
}
.sex-features-conditions{
    // padding-top: 10px;
    display: flex;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
    // padding: 10px;
    // margin-right: 80px;
    // justify-content: space-between;
}
#listings-forms .right .sex{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 45px;
    // justify-content: flex-start;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
    // margin-right: 20px;
    padding: 10px;
}
// #listings-forms .right .sex h4{
//     flex: 1;
// }
#listings-forms .right .sex .sex-btn{
    display: flex;
    padding-top: 10px;
}
// Features form section 
#listings-forms .right .features{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 10px;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
}

#listings-forms .right .features-content{
    // border: 1px solid red;
    display: flex;
    width: 100%;
    padding-top: 10px;
}
div.field.features{
    margin-bottom: 0 !important;
}

#listings-forms .right .conditions{
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    width: 25%;
    // margin-left: 10px;
    border: 1px solid lightgray;
    border: 1px solid rgba(211, 211, 211,0.5);
    padding: 10px;
}
#listings-forms .right .conditions-content{
    display: flex;
    // border: 1px solid red;
    padding-top: 10px;
    width: 100%;
}

// size category form section

#listings-forms .right .size-category{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
#listings-forms .right .size-category .field{
    padding-right: 20px;
}

.picture{
    padding-bottom: 10px;
}
// .action{
//     width: 150px;
//     height: 100px;
// }
.actions a{
    text-decoration: none;
    color: black;
}
.submit-btn{
    width: 110px;
    height: 30px;
    cursor: pointer;
    background-color: orange;
    color: black;
    border: 1px solid transparent;
}
.cancel-btn{
    padding: 5px 30px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: 1px solid transparent;

}


// Listings-index 
#listings-index{
    min-height: 140vh;
    width: 100vw;
    background-color: #191919; 
    margin-top: 34px;
    padding-bottom: 150px;
    color: #fff;
}
.div-container hr{
    width: 100%;
    background-color: rgba(255, 255, 255,0.2);
    margin-top: 60px;
    margin-bottom: 0;
    height: 0.1px;
}
#listings-index a{
    text-decoration: none;
    height: 300px !important;
}
#listings-index .img{
    width: 300px !important;
    height: 300px !important;
    cursor: pointer;
    // display: none;
}
#listings-index .img:hover{
    background-color: red;
    background-blend-mode: overlay;
    opacity: 0.8;
}
#listings-index .container{
    padding-top: 70px;
    width: 90%;
    margin: auto;
    // overflow: hidden;
    display: flex;
    // border: 1px solid red;
    justify-content: space-around;
}
#listings-index .side-search{
    margin-top: 25px;
    width: 230px;
    height: 300px;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    
    // border: 1px solid red;
    position: absolute;
    top: 66.7%;
    left: 6%;
}
#listings-index .side-search h3{
    // border: 1px solid black;
    width: 100%;
    // margin: auto;
    // padding-left: 40px;
    // padding-right: 20px;
}
#listings-index .side-search .wrapper{
    width: 97%;
    margin: auto;

}
#listings-index .listings-wrapper{
    position: relative;
    width: 90%;
    margin-left: 16%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: flex-end;
    // border: 1px solid red;
}
#listings-index .listing{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}
#listings-index .title-price{
    min-height: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: black;
    padding: 15px;
    border-top: 3px solid black;
    box-sizing: border-box;
}
#listings-index .listing-user{
    padding-top: 5px;
}
#listings-index .showcase{
    height: 220px;
    width: 100vw;
    background: url('showcase-3.png');
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: darken;
    background-color: rgba(17, 17, 17, 0.5);
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.5);
}
.price-view-btn {
    display: flex;
    align-self: flex-end;
    height: 100%;
    // padding-top: 15px;
    justify-self: flex-end;
    // flex-direction: column;
    // border: 1px solid red;
}
.price-view-btn p{
    height: 32px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}
.btn{
    padding-top: 8px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 3px;
    
}
.pay-btn{
    background-color: green;
    color: white;
    border: 1px solid transparent;
}
.view-more-btn{
    // height: 33px;
    // padding-top: 8px;
    padding-bottom: 20px;
    // padding-right: 10px;
    // padding-left: 10px;
    background-color: #f2f2f2;;
    width: 100%;
    border: 1px solid darkgray;
}
.display-none{
    display: none;
}

// Show section
#listings-show{
    padding-top: 25px;
    min-height: 80vh;
    width: 100vw;
    color: #fff;
    background-color: #191919; 
    margin-top: 34px;
}
#listings-show .container{
    width: 90%;
    // height: 80vh;
    margin: auto;
    display: flex;
    background-color: #111111;
    margin-top: 10px;
    // padding: 0px 30px;
    overflow: hidden;
}
#listings-show .left{
    padding-top: 25px;
    padding-bottom: 25px;
    // padding-left: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
#listings-show .img{
    width: 450px;
    height: 450px;
}
hr {
    border: 1px solid rgba(255,255,255,0.1);
    height: 380px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#listings-show .right{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    // width: 60%;
}
#listings-show .right .title{
    font-size: 35px;
    padding-bottom: 15px;
    font-weight: bold;
}
#listings-show .right .btn{
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}
#listings-show .right .description{
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-right: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid rgba(211, 211, 211,0.3);
    padding: 15px;
}
.brand-color-sex-size{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 15px;
}
.condition{
    padding-bottom: 15px;
}
.category{
    padding-bottom: 15px;
}
.features{
    padding-bottom: 15px;
}
.feature{
    background-color: orange;
    border: 1px solid orange; 
    border-radius: 6px;
    padding: 1px 8px;
}
#listings-show  a{
    text-decoration: none;
    color: #fff;
    
}
#listings-show .edit-btn, .delete-btn{
    // width: 100px;
    // height: 100px;
    // border: 1px solid red;
    padding: 3px 20px;
    margin-top: 20px;
}
#listings-show .delete-btn{
    border: 1px solid red;
    background-color: red;
    color: #fff;
}
#listings-show .edit-btn{
    border: 1px solid rgba(211, 211, 211,0.5);
    background-color: rgba(211, 211, 211,0.5);
}




// Listings search 

#listings-search{
    margin-top: 34px;
    min-height: 190vh;
    width: 100vw;
    background-color: #191919;
    color: #fff;
}
#listings-search h1{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 40px;
}

#listings-search .container{
    // height: 100%;
    width: 90%;
    margin: auto;
    // display: flex;
    // flex-direction: column;

}
#listings-search .listings-wrapper{
    display: flex;
    justify-content: space-around;
    // border: 1px solid red;
    flex-wrap: wrap;
}
.listing{
    width: 30%;
    // border: 1px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
}
#listings-search .title-price{
    min-height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: black;
    padding: 15px;
    box-sizing: border-box;
}
#listings-search a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}
#listings-search .listing-user{
    padding-top: 10px;
}
.img{
    width: 100%;
}
