// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$default-color: #2f2f2f;
$default-color: #161b22;
$default-light: #fff;
$light-body: #26374c;
$default-color-dark: #0d1117;
$default-color-dark: #191919;
// --hover-width: 75%;
// --other-width: 25%;
// --speed: 1000ms;

#pages-home{
    min-height: 300vh;
    margin-top: 33px;
    // margin-bottom: 20px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #191919;
    // border: 1px solid red;
}
#pages-home a{
    text-decoration: none;
}
#pages-home header{
    width: 100vw;
    height: 560px;
    // height: 520px;
    background-color: $default-light;
    position: relative;
}
#pages-home #showcase{
    // background-image: url('showcase-1.png');
    background-image: url('showcase-3.png');
    // background-image: url('showcase-2.png');
    // background-image: url('landiing-logo.jpeg');
    // background-image: url('test.png');
    // background-image: url('main-img.jpeg');
    background-blend-mode: darken;
    background-color: rgba(17, 17, 17, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // filter: blur(6px);
    //     -webkit-filter: blur(1px);
    // opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: relative;
    // margin-top: 80px;
    margin-bottom: 120px;
    
}
#pages-home #showcase #form{
    // border: 1px solid red;
    width: 50%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
#pages-home #showcase #form input{
    width: 93%;
    // border: 1px solid red;
}
#form input:focus{
    outline: none;
}
#pages-home #showcase .text{
    width: 50%;
    // border: solid 1px red;
    color: #fff;
    text-shadow: 2px 2px black;
    // margin-bottom: 20px;
    // background-color:rgba(0, 0, 0, 0.4);
    // // border: 1px solid red;
    // padding-left: 4px;
    // padding-right:4px;
    // padding-bottom: 5px;
    // padding-top: 5px;


}
#pages-home #showcase h3{
    font-size: 55px;
    font-weight: bolder;
    color: white;
}
#pages-home #showcase p{
    font-size: 22px;
    padding-bottom: 20px;
}
@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
    
}
.down-arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 2;
    height: 30px;
    color: #fff;
    transform-origin: 50% 50%;
    cursor: pointer;
}
.down {
    animation: downarrow 0.6s infinite alternate ease-in-out;
}
.down-arrow:hover{
    height: 35px;
}
#pages-home .about{
    font-family: verdana, arial, helvetica, sans-serif;
    height: 55vh;
    width: 60%;
    margin: auto;
    text-align: center;
    color: #f4f4f4;
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 1px solid transparent;
    background-color: #111111; 
    box-shadow: 3px 3px black;
}
#pages-home .about hr{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #f4f4f4;
    width: 600px;
}
#pages-home .about span{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
#pages-home .about h1{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin-bottom: 25px;
    margin-top:50px;
    margin-left: 50px;
    margin-right: 50px;
    // border: 1px solid red;
}
#pages-home .about p{
    font-size: 18px;
    line-height: 30px;
    width: 60%;
}
#pages-home .about-btn{
    margin-top: 30px;
    border: 1px solid $default-light;
    background-color: $default-light;
    // height: 50px;
    width: 150px;
    color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#pages-home hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
}
#pages-home .container{
    // border: 1px solid red;
    padding-top: 70px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    // overflow-x: hidden;
    justify-content: space-evenly;
    align-content: center;
    // justify-content: space-around;
}

#pages-home .center-center button{
    text-align: center;
    width: 180px;
    height: 60px;
    z-index: 2;
    cursor: pointer;
}
// #pages-home .left{
//     // border: 1px solid red;
//     // flex: 1;
//     padding-right: 15px;
//     align-self: center;
// }
.or-header{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
#pages-home .about hr{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid rgba(244, 244, 244,0.2);
    width: 600px;
}
#pages-home .about span{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}



#pages-home .gender hr{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid rgba(244, 244, 244,0.2);
    width: 420px;
}
#pages-home .gender span{
    display: flex;
    flex-direction: row;
    width: 83%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#pages-home .gender h1{
    font-size: 35px;
}
// #pages-home .left h1{
//     position: absolute;
//     top: 1350px;
//     left: 11%;
//     font-size: 50px;
//     color: black;
//     z-index: 2;
// }
// #pages-home .right h1{
//     position: absolute;
//     top: 1350px;
//     right: 11%;
//     font-size: 50px;
//     color: black;
//     z-index: 2;
// }
#pages-home .left img{
    // position: absolute;
    // left: 7%;
    // height: 300px;
    // width: 450px;
    // height: 350px;
    // width: 500px;
    // height: 300px;
    // width: 450px;
    height: 350px;
    width: 500px;
    // border: 20px solid $default-color;
    // border: 10px solid #fff;
    // padding: 20px;
    cursor: pointer;
    opacity: 0.8;
}
// #pages-home .right{
//     // border: 1px solid red;
//     // flex: 1;
//     padding-left: 15px;
//     align-self: center;
// }
#pages-home .right img{
    // position: absolute;
    // right: 10%;
    // right: 7%;
    // // height: 400px;
    // // width: 550px;
    // height: 300px;
    // width: 450px;
    // height: 300px;
    // width: 450px;
    height: 350px;
    width: 500px;
    // border: 20px solid $default-color;
    // border: 10px solid #fff;
    // padding: 20px;
    cursor: pointer; 
    opacity: 0.8;
}
#pages-home .right img:hover{
    // height: 350px;
    // width: 450px;
    // height: 350px;
    // width: 550px;
    opacity: 1;
    transform: scaleY(1.1);
    // border: 20px solid #fff;
}
#pages-home .left img:hover{
    // height: 350px;
    // width: 500px;
    // height: 400px;
    // width: 550px;
    opacity: 1;
    transform: scaleY(1.1);

    // border: 20px solid #fff;
}

#pages-home .right img, #pages-home .left img{
    transition: all 1000ms ease-in-out;
}

#pages-home .wrapper{
    width: 77%;
    margin: auto;
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
}
#pages-home .wrapper a{
    text-decoration: none;

}
#pages-home .right{
    // border: 1px solid red;
    align-self: center;
    width: 45%;
    overflow: hidden;
}
#pages-home .right .text{
    padding: 30px;
    background-color: #111111;
    color: #fff;
    text-align: center;
}
#pages-home .right .text h1{
    text-align: center;
    padding-bottom: 10px;
}
#pages-home .right .text .btn{
    margin-top: 20px;
    width: 35%;
    
}

#pages-home .left{
    // border: 1px solid red;
    align-self: center;
    width: 45%;
    overflow: hidden;
}
#pages-home .left .text{
    padding: 30px;
    background-color: #111111;
    // border-top: 5px solid black;
    color: #fff;
    text-align: center;
    margin-top: 0;
}
#pages-home .left .text div{
    margin-top: 0;
}
#pages-home .left .text h1{
    text-align: center;
    padding-bottom: 10px;
}
#pages-home .left .text .btn{
    margin-top: 20px;
    width: 35%;
    
}

